        body {
            margin-top: 50px;
            padding: 0;
            width: 100%;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-align: center;
            color: #AAAAAA;
            font-size: 18px;
        }

        h1 {
            color: #26A69A;
            letter-spacing: -3px;
            font-family: 'Yu Gothic Light';
            font-size: 100px;
            margin-top: 10%;
        }
